:root {
  --theme-mode: light;
}

[data-theme=dark] {
  --theme-mode: dark;
}

.header {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 10px;
  text-align: center;
}

.home {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

.about {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  text-align: center;
}