
// #454545
// #FF6000
// #FFA559
// #FFE6C7

// scss/themes/_colors.scss

// Light Theme Colors
$primary-color-light: #FFFFFF;
$secondary-color-light: #F2F2F2;
$accent-color-light: #FF6000;

// Dark Theme Colors
$primary-color-dark: #111111;
$secondary-color-dark: #1E1E1E;
$accent-color-dark: #FFA559;
